# Введение в Python. Практическая работа

### Цель работы
Закрепить пройденный материал:
* работа в Jupyter Notebook;
* арифметические операции;
* работа с функцией print().

### Что нужно сделать
Выполните предложенные ниже задачи.

### Что оценивается
Для каждой задачи:
* программа выполняет все описанные в задаче действия;
* результаты вычислений и применённых операций корректны;
* производится информативный вывод на экран с указанием того, что выводится.

### Как отправить работу на проверку
Выполните предложенные задачи, сохраните изменения, используя опцию Save and Checkpoint из вкладки меню File или кнопку Save and Checkpoint на панели инструментов. Итоговый файл .ipynb (файл Jupyter Notebook) или ссылку на него отправьте на проверку.

---

1. В вашем отделе работает пять человек, их возраст 23, 27, 33, 41 и 62 года. Создайте новую ячейку и напишите в ней выражение, которое рассчитало бы средний возраст сотрудника вашего отдела.

In [2]:
_list = [23, 27, 33, 41, 62]
average = sum(_list) / len(_list)
average

37.2

2. По наследству вам досталась советская кафельная плитка размером 15 х 15 см, 200 штук. Создайте новую ячейку и напишите в ней выражение, которое рассчитывало бы площадь этой плитки в квадратных метрах.

In [15]:
print(15*15)

225

3. Ваш друг решил заработать на День святого Валентина. Он купил 5 упаковок роз по 100 штук в каждой и собрал их в букеты по 7 роз. Создайте новую ячейку и напишите выражение, которое рассчитывает, сколько целых букетов получится у вашего друга.

In [16]:
print(5*100 // 7)

71

4. Сколько роз останется у вашего друга после того, как он соберёт последний полный букет? В новой ячейке напишите выражение, которое рассчитывает это число.

In [17]:
print(5*100 % 7)

3

5. Используя функцию print() в новой ячейке, напишите команду, которая выведет на экран ваше имя.

In [18]:
print("DANIL")

DANIL

6. Запустите ячейку ниже и посмотрите, что получилось. Добавьте разделитель (аргумент sep), чтобы на выходе получилось, как у Блока в оригинале:

In [19]:
print('Ночь', 'улица', 'фонарь', 'аптека',sep=", ")

Ночь, улица, фонарь, аптека

7. На бензозаправке вы поняли, что проехав 255 км потратили 19 литров бензина. Дополните команду в следующей ячейке таким образом, чтобы к тексту она выводила ещё и значение расхода:

In [20]:
print('Расход бензина на 100 км =', 255/19)

Расход бензина на 100 км = 13.421052631578947